@tailwind base;
@tailwind components;
@tailwind utilities;

td {

  padding: 15px; 
  margin-bottom: 30px; 
  
  border-collapse: collapse; 
}
th{
  padding: 17px;
  background-color: #007BFF;
  color: white;
}
.tb{
  border-bottom: rgb(134, 130, 139) 1px solid;
  background-color: rgb(206, 202, 210);
  box-shadow: 0 0 1px;
}
.b{
  border-bottom: #007BFF 4px solid ;
  border-radius: 20px;
}
